<!doctype html>
<html class="no-js for-font" lang="{{ request.locale.iso_code }}">
  <head>
    {% if page_description %}<meta name="description" content="{{ page_description | escape }}">{% endif %}
    {% render 'meta-tags' %}
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <img
      src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSI5OTk5OXB4IiBoZWlnaHQ9Ijk5OTk5cHgiIHZpZXdCb3g9IjAgMCA5OTk5OSA5OTk5OSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48ZyBzdHJva2U9Im5vbmUiIGZpbGw9Im5vbmUiIGZpbGwtb3BhY2l0eT0iMCI+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9Ijk5OTk5IiBoZWlnaHQ9Ijk5OTk5Ij48L3JlY3Q+IDwvZz4gPC9zdmc+"
      alt="Placeholder"
      style="pointer-events: none; position: absolute; top: 0; left: 0; width: 96vw; height: 96vh; max-width: 99vw; max-height: 99vh;"
    >

    {% unless template contains 'cart' %}
      <script src="https://rapidlercdn.com/6426631c44f2512c1cbbd64f/preload.js"></script>
    {% endunless %}

    <script>
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
                      
        
/* >> TriplePixel :: start*/
~function(W,H,A,L,E,_){function O(T,R){void 0===R&&(R=!1),H=new XMLHttpRequest,H.open("GET","//triplewhale-pixel.web.app/triplepx.txt?"+~(Date.now()/9e7),!0),H.send(null),H.onreadystatechange=function(){4===H.readyState&&200===H.status?setTimeout(function(){return eval(H.responseText)},50):(299<H.status||H.status<200)&&T&&!R&&(R=!0,O(T-1))}}if(L=window,!L[H+"sn"]){L[H+"sn"]=1;try{A.setItem(H,1+(0|A.getItem(H)||0)),W.includes("⇈")&&A.setItem(H+"Stg",1+(0|A.getItem(H+"Stg")||0)),(E=JSON.parse(A.getItem(H+"U")||"[]")).push(location.href),A.setItem(H+"U",JSON.stringify(E))}catch(e){}A.getItem('"!nC`')||(A=L,A[H]||(L=function(){return Date.now().toString(36)+"_"+Math.random().toString(36)},E=A[H]=function(t,e){return W=L(),(E._q=E._q||[]).push([W,t,e]),E._headless=!0,W},E.ch=W,O(5)))}}("","TriplePixel",localStorage);
/* << TriplePixel :: end*/
      



















    </script>

    <!-- Added by AVADA SEO Suite -->
    {% include 'avada-seo' %}
    <!-- /Added by AVADA SEO Suite -->
    {% render 'structuredDataV2' %}
    {% render 'SEO-Master' %}
    {% render 'preload' %}
    <link rel="canonical" href="{{ canonical_url }}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Syahrizaldev">
    <meta name="theme-color" content="">
    {% if template == 'collection' %}
      <META NAME="robots" CONTENT="index,follow,max-snippet:-1,max-video-preview:-1,max-image-preview:large">
    {% elsif template == 'cart' %}
      <META NAME="robots" CONTENT="index,follow,max-snippet:-1,max-video-preview:-1,max-image-preview:large">
    {% elsif template == 'search' %}
      <META NAME="robots" CONTENT="index,follow,max-snippet:-1,max-video-preview:-1,max-image-preview:large">
    {% elsif template contains 'customers' %}
      <META NAME="robots" CONTENT="index,follow,max-snippet:-1,max-video-preview:-1,max-image-preview:large">
    {% endif %}

    {{ 'libs.js' | asset_url | script_tag }}
    {{ 'libs.css' | asset_url | stylesheet_tag }}

    <!-- Hotjar Tracking Code for WWW.OXALEATHER.COM -->
    <script>
      (function(h,o,t,j,a,r){
       h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
       h._hjSettings={hjid:2490627,hjsv:6};
       a=o.getElementsByTagName('head')[0];
       r=o.createElement('script');r.async=1;
       r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
       a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>

    <!-- GA Additional Tracking Code for WWW.OXALEATHER.COM -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
       ga('create', 'UA-182881503-1', 'auto'); // Insert your GA Web Property ID here, e.g., UA-12345-1
      //////////// New lines Added////////////////////
       ga('set','dimension1','shopify_US_6246957875398_40880764059846'); // REQUIRED Item ID value, e.g., 12345, 67890
      ///////////////////////////////////////////////
       ga('send', 'pageview');
    </script>
    <!-- GA Additional Tracking Code for WWW.OXALEATHER.COM -->

    <!-- Google Tag Manager -JLM -->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
       new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
       j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
       'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
       })(window,document,'script','dataLayer','GTM-W6CWKJR');
    </script>
    <!-- End Google Tag Manager -->

    <!-- Google Optimize Tag-JLM -->
    <script src="https://www.googleoptimize.com/optimize.js?id=OPT-NX2SDBZ" defer></script>
    <!-- END Google Optimize Tag -->

    <!-- JLM Analytics Code snippet -->
    <script
      data-host="https://analytics.justleadmarket.com/public"
      data-dnt="false"
      src="https://analytics.justleadmarket.com/public/js/script.js"
      id="ZwSg9rf6GA"
      async
      defer
    ></script>
    <!-- END JLM Analytics Code snippet -->

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | img_url:'32x32' }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    {% render 'oxa' %}
    {% comment %}
      {% include 'meteor-menu', load: 'head' %}
      {{ content_for_header }}
    {% endcomment %}
    {%- liquid
      assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
      assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
    %}

    {% style %}{% render 'theme' %}{% endstyle %}

    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'section-footer.css' | asset_url | stylesheet_tag }}

    <link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
    <link
      rel="stylesheet"
      href="{{ 'component-list-payment.css' | asset_url }}"
      media="print"
      onload="this.media='all'"
    >
    <link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="{{ 'disclosure.css' | asset_url }}" media="print" onload="this.media='all'">
    <link
      rel="prerender"
      href="https://k72b1ne8bjmgvrbc-50704187590.shopifypreview.com/products/iphone-14-plus-leather-wallet-case"
    >
    <link
      rel="preconnect"
      href="https://k72b1ne8bjmgvrbc-50704187590.shopifypreview.com/products/iphone-14-plus-leather-wallet-case"
    >
    <link
      rel="dns-prefetch"
      href="https://k72b1ne8bjmgvrbc-50704187590.shopifypreview.com/products/iphone-14-plus-leather-wallet-case"
    >
    <noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
    <noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
    <noscript>{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}</noscript>
    <noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>
    <noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
    <noscript>{{ 'disclosure.css' | asset_url | stylesheet_tag }}</noscript>
    <link rel="stylesheet" href="{{ 'custom.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'newcustom.css' | asset_url }}">
    <!--
      const preloadLink = document.createElement("link");
      preloadLink.href = "custom.css";
        document.head.appendChild(preloadLink);
    -->
    <!--
      <script>
        $(document).on('load',function(){
          console.log('loading');
        var head = document.getElementsByTagName('HEAD')[0];
              var link = document.createElement('link');
              link.rel = 'stylesheet';
              link.type = 'text/css';
              link.href = 'custom.css';
              head.appendChild(link);
          })
      </script>
    -->
    {%- unless settings.type_body_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.type_header_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- if settings.predictive_search_enabled -%}
      <link
        rel="stylesheet"
        href="{{ 'component-predictive-search.css' | asset_url }}"
        media="print"
        onload="this.media='all'"
      >
    {%- endif -%}

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      if (Shopify.designMode) {document.documentElement.classList.add('shopify-design-mode');}
    </script>

    <script src="{{ 'jquery351.js' | asset_url }}"></script>
    <script src="{{ 'slick.js' | asset_url }}"></script>
    <script src="{{ 'jquery.zoom.js' | asset_url }}"></script>

    <style>
          .product-recommendations ul.grid.product-grid {
            visibility: hidden;
          }
          @font-face {
            font-display: swap;
      font-family: "Manrope 400";
      src: url({{ "Manrope-Regular.ttf" | asset_url }});
          }
          @font-face {
            font-display: swap;
      font-family: "Manrope 500";
      src: url({{ "Manrope-Medium.ttf" | asset_url }});
          }
          @font-face {
            font-display: swap;
      font-family: "Manrope 600";
      src: url({{ "Manrope-SemiBold.ttf" | asset_url }});
          }
          @font-face {
            font-display: swap;
      font-family: "Manrope 700";
      src: url({{ "Manrope-Bold.ttf" | asset_url }});
          }
          @font-face {
            font-display: swap;
      font-family: "Manrope 800";
      src: url({{ "Manrope-ExtraBold.ttf" | asset_url }});
          }
          @font-face {
            font-display: swap;
      font-family: "RubikBeastly";
      src: url({{ "RubikBeastly-Regular.ttf" | asset_url }});
          }
          @font-face {
            font-display: swap;
      font-family: "Times";
      src: url({{ "TIMESR.ttf" | asset_url }});
          }
          @font-face {
            font-display: swap;
      font-family: "bernadette";
      src: url({{ "bernadette.ttf" | asset_url }});
          }
          span.compare_at_price .money {
              text-decoration: line-through;
              margin-right: 6px;
          }
          .add_on_tilte {
              line-height: 17px !important;
          }
    </style>

    <style>
      @media only screen and (min-width:750px) and (max-width:767px){.product .product-page-price{display:block!important;}}
    </style>

    {% include 'variable-products-head-template' %}

    <script>
      (() => {const installerKey = 'docapp-discount-auto-install'; const urlParams = new URLSearchParams(window.location.search); if (urlParams.get(installerKey)) {window.sessionStorage.setItem(installerKey, JSON.stringify({integrationId: urlParams.get('docapp-integration-id'), divClass: urlParams.get('docapp-install-class'), check: urlParams.get('docapp-check')}));}})();
    </script>
    <script>
      (() => {const previewKey = 'docapp-discount-test'; const urlParams = new URLSearchParams(window.location.search); if (urlParams.get(previewKey)) {window.sessionStorage.setItem(previewKey, JSON.stringify({active: true, integrationId: urlParams.get('docapp-discount-inst-test')}));}})();
    </script>

    {% comment %} Please do not edit this section. It is automatically generated by Videowise{% endcomment %}
    <link rel="stylesheet" href="https://doui4jqs03un3.cloudfront.net/style.css.gz">
    <script src="https://doui4jqs03un3.cloudfront.net/vendors.js.gz" defer="defer"></script>
    <script src="https://doui4jqs03un3.cloudfront.net/client.js.gz" defer="defer"></script>
    {% comment %} End Videowise section.{% endcomment %}

    {{ shop.metafields.loox.global_html_head }}

    <script type="text/javascript">
      (function(c,l,a,r,i,t,y){
          c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
          t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
          y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
      })(window, document, "clarity", "script", "dtnrqoj0ns");
    </script>

    <script type="text/javascript">
      window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=document.createElement("script");r.type="text/javascript",r.async=!0,r.src="https://cdn.heapanalytics.com/js/heap-"+e+".js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(r,a);for(var n=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","resetIdentity","removeEventProperty","setEventProperties","track","unsetEventProperty"],o=0;o<p.length;o++)heap[p[o]]=n(p[o])};
      heap.load("3719209354");
    </script>

    {% render 'content-header' %}

    {% render 'digismoothie-candyrack' %}

    <script>
      (() => {const installerKey = 'docapp-discount-auto-install'; const urlParams = new URLSearchParams(window.location.search); if (urlParams.get(installerKey)) {window.sessionStorage.setItem(installerKey, JSON.stringify({integrationId: urlParams.get('docapp-integration-id'), divClass: urlParams.get('docapp-install-class'), check: urlParams.get('docapp-check')}));}})();
    </script>

    <script>
      (() => {const previewKey = 'docapp-discount-test'; const urlParams = new URLSearchParams(window.location.search); if (urlParams.get(previewKey)) {window.sessionStorage.setItem(previewKey, JSON.stringify({active: true, integrationId: urlParams.get('docapp-discount-inst-test')}));}})();
    </script>

    <script>
      (() => {const installerKey = 'docapp-discount-auto-install'; const urlParams = new URLSearchParams(window.location.search); if (urlParams.get(installerKey)) {window.sessionStorage.setItem(installerKey, JSON.stringify({integrationId: urlParams.get('docapp-integration-id'), divClass: urlParams.get('docapp-install-class'), check: urlParams.get('docapp-check')}));}})();
    </script>

    <script>
      (() => {const previewKey = 'docapp-discount-test'; const urlParams = new URLSearchParams(window.location.search); if (urlParams.get(previewKey)) {window.sessionStorage.setItem(previewKey, JSON.stringify({active: true, integrationId: urlParams.get('docapp-discount-inst-test')}));}})();
    </script>
  </head>

  <body class="gradient for-font {{ template }}  {% if template == 'product' %} template-product {% elsif template == 'index' %} index {% else template == 'cart' %}cart--page{% endif %}{% if template == "collection" %} {{ collection.handle }}{% endif %}">
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-W6CWKJR"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      ></iframe
    ></noscript>
    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{- 'accessibility.skip_to_text' | t -}}
    </a>
    <div class="annoucement-desktop">
      {% section 'announcement-bar' %}
    </div>
    {% section 'header' %}
    {% render 'monogram_popup' %}
    <div id="overlay"></div>
    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% unless template == 'cart' %}
      {%- section 'cart-drawer' -%}
    {% endunless %}
    {% section 'footer' %}

    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
    </ul>

    {% render 'custom_codes' %}
    {%- if settings.predictive_search_enabled -%}
      <script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}
    {% if template contains 'product' -%}
      <script id="breadcrumb-script">
        document.addEventListener("DOMContentLoaded",function(){var c=JSON.parse(jQuery(".breadcrumbs-json").html()),a=JSON.parse($("#product-collections").html()),b=1;a.forEach(function(d,e){var a=c.find(a=>a.link==d);a&&(1==b&&setBreadcrumb(a),b++)}),1==b&&a.forEach(function(d,e){var a=c.find(a=>a.parent_link==d);a&&(1==b&&setBreadcrumb(a),b++)}),console.log(b),$(".breadcrumb_text").show()})
      </script>
    {%- endif %}
    {% if template contains 'collection' -%}
      <script id="breadcrumb-script">
        document.addEventListener("DOMContentLoaded",function(){var c=JSON.parse(jQuery(".breadcrumbs-json").html()),d="{{ collection.url }}",a=1,b=c.find(a=>a.link==d);if(b&&(1==a&&setBreadcrumbForCollections(b),a++),1==a){var b=c.find(a=>a.parent_link==d);b&&(1==a&&setBreadcrumbForCollections(b),a++)}console.log(a),$(".breadcrumb_text").show()})
      </script>
    {%- endif %}
    {% render 'custom_codes2' %}

    {% if template contains 'collection' and collection.products.size > 18 %}
      {{ 'tricky3.infinite-scroll.v2.min.js' | asset_url | script_tag }}
      <script>
        $(function(){var a="#product-grid";$(a).t3PageLoad({selectors:{itemsWrapper:a,item:".grid__item",nextPageLink:"#paginatie-next",previousPageLink:"#paginatie-previous",paginationWrapper:".pagination-wrapper"},pageQueryStringKey:"page",waitForImagesToBeLoaded:!1,enablePageState:!0,manualLoading:!1,callBacks:{onAllPagesLoaded:function(){$(".pagination-wrapper, .collection-load-more").css("display","none")},onPageLoad:function(a){$(".collection-load-more").css("display","none")},beforePageLoad:function(){$(".collection-load-more").css("display","flex")}}})})
      </script>
      <style>
        ul#product-grid > div { display: none;}.collection-load-more.loading-overlay__spinner {width: 100%;margin-top: 25px;display: flex;justify-content: center;align-items: center;}.collection-load-more.loading-overlay__spinner svg {width: 35px;}
      </style>
    {% endif %}

    <style>
      .jdgm-ask-question-btn, .jdgm-write-rev-link {border: 1px solid #000000 !important;color : #000000 !important;text-decoration : none !important;font-family: "Manrope 700" !important;Font-Size: 14px !important;}
      #judgeme_product_reviews *:not(.jdgm-star):not(.jdgm-paginate *):not(.jdgm-rev__icon):not(.jdgm-rev__title):not(.jdgm-rev__body p)  { font-family: "Manrope 500" !important;line-height: 21px !important;}
      .jdgm-rev__icon::after, .jdgm-rev__buyer-badge {display: inline-block;color: #ffffff;background-color: black !important;}
      .jdgm-rev__body p { font-family: "Manrope 500" !important;line-height: 21px !important;font-size:14px !important;}
      .jdgm-rev__title  { font-family: "Manrope 500" !important;line-height: 21px !important;font-size:16px !important;}
      .jdgm-paginate * {color:black !important;}
      .jdgm-rev-widg__title {font-size:20px !important;}
      span.jdgm-rev__timestamp, span.jdgm-rev__author, b.jdgm-rev__title, .jdgm-rev-widg__summary-text {font-size: 14px !important;}
    </style>

    <!-- Gorgias Chat Widget Start -->
    <script
      id="gorgias-chat-widget-install-v2"
      src="https://config.gorgias.chat/gorgias-chat-bundle-loader.js?applicationId=18134"
    ></script>
    <script id="gorgias-chat-shopify-install">
      !function(_){_.SHOPIFY_PERMANENT_DOMAIN="{{shop.permanent_domain}}",_.SHOPIFY_CUSTOMER_ID="{{customer.id}}",_.SHOPIFY_CUSTOMER_EMAIL="{{customer.email}}"}(window||{});
    </script>
    <!-- Gorgias Chat Widget End -->

    {{ shop.metafields.loox.global_html_body }}

    <!-- Google Customer Review Badge -->
    <script src="https://apis.google.com/js/platform.js?onload=renderBadge" async defer="defer"></script>
    <script>
      //   window.renderBadge = function() {
      //     var ratingBadgeContainer = document.createElement("div");
      //     document.body.appendChild(ratingBadgeContainer);
      //     window.gapi.load('ratingbadge', function() {
      //       window.gapi.ratingbadge.render(ratingBadgeContainer, {
      //         "merchant_id": 319642804,
      //         "position": "BOTTOM_LEFT"
      //       });
      //     });
      //   }
      //   window.___gcfg = {
      //   lang: '{{ shop_locale.iso_code }}'
      // };
    </script>

    <script>
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
          
    
 $('.product-form__input--dropdown .select__select').on('change', function() {
     event.stopPropagation();
      var size = (this.value);
      var color = $("input[name='Color']:checked").val();
       $(`input[name="Size"][value='`+size+`']`).trigger('click');
      var pJson = JSON.parse($('variant-selects script').html());
      var vrntid = pJson.find(v => (v.option1 == color && v.option2 == size )).id;
      $('input.vrntid').attr('value',vrntid);
      var vrntid = $('select#data [ varsize="'+size+'"][ varcolor="'+color+'"]').attr('var-id');
      setTimeout(function(){
       $('input.vrntid').attr('value',vrntid);
      },1000);
      });
$('.colors__swatches label').click(function(){
       setTimeout(function(){
        var a = $("input[name='Color']:checked").val();
        var b = $('.varsize  .select__select').find(":selected").val();
        var vrntida = $('select#data [ varsize="'+b+'"][ varcolor="'+a+'"]').attr('var-id');
         $('input.vrntid').attr('value',vrntida);
      },1000);  
})

$('cart-remove-button.removes a').click(function(){
   var id = $(this).parents(".sec-tr").attr("data-ids")
    $.ajax({
    type: "POST",
    url: "/cart/change.js",
    dataType: "json",
    data: {
      id: id,
      quantity: 0,
    },
    success:function(data){
        window.location.href="/cart";
    }
  });
});

      $(document).on('click', 'p.optionbuttons', function(){
        var url = $(this).data('url');
        $(this).attr('selected','selected').siblings().removeAttr('selected');
        $.ajax({
            url:"/products/"+url+"",
            success: function(data){
                var parser = new DOMParser();
                doc = parser.parseFromString(data, "text/html");
                var remainder = doc.querySelector(".product-page-banner").innerHTML;
                $(".product-page-banner").replaceWith("<section class=\"shopify-section section product-page-banner\">" + remainder + "</section>");
                history.pushState(null, '', '/products/'+url+'');            
            }
        });
      });

    $(document).on('click','.drop_down-arrow',function(){
       $(this).hide();
 $('.drop_up-arrow').show();
       $('.refdiv.refdiv_toggle').css("display", "grid");
    })

     $(document).on('click','.drop_up-arrow',function(){
       $(this).hide();
      $('.drop_down-arrow').show();
       $('.refdiv.refdiv_toggle').css("display", "none");
    })

$(document).on('click','.monogram_check input[type="checkbox"]', function () {
    var proid = $(this).parents('.cart-item').data('proid');
    var item = $(this).parents('.cart-item').data('item_id');
    var color = $(this).parents('.cart-item').find('.cart-item_color').attr('data-clr');
    var sku_product = $(this).parents('.cart-item').data('sku');
    var url = "https://oxaleather.com/search?view=monogram_view&q=id:"+proid+"&type=product&variant="+item
    $.ajax({
        type: "GET",
        url: url,
        success: function (msg) {
            var parser = new DOMParser();
            doc = parser.parseFromString(msg, "text/html");
            var remainder = doc.querySelector('[varid="'+item+'"]').innerHTML;
            var monoimgg = doc.querySelector('img.hideimagesvar[data-color="'+color+'"][alt*="monogram"]').getAttribute("src");
            $('.custommodal .modal-content.mono-radius').html(remainder);
            var mono_top = $('.custommodal .main-img-monogram_pop').data("top");
            var mono_left = $('.custommodal .main-img-monogram_pop').data("left");
            var mono_size = $('.custommodal .main-img-monogram_pop').data("size");
            $('.custommodal .main-img-monogram img').attr('src',monoimgg)
            $('.custommodal .add-to-cart button').attr('sku',sku_product)

            window.img_width = window.img_height = "";
            window.pop_stage = new Konva.Stage({
              container: '.main-img-monogram_pop',
              width: 400,
              height: 400
            });
            
            var layer = new Konva.Layer();
            pop_stage.add(layer);
            
            var imageObj = new Image();
            imageObj.onload = function () {
            window.img_width = imageObj.width; window.img_height = imageObj.height;
            var yoda = new Konva.Image({
              id: "mono_image",
              x: 0,
              y: 0,
              image: imageObj,
              width: 400,
              height: 400,
            });

            layer.add(yoda);
            var tt = $("#pop_name").val();
            var ff = $("span.right-click.righticon").parent().data("font");
            var simpleText = new Konva.Text({
              id: "mono_text",
              x: mono_left,
              y: mono_top,
              width:200,
              text: tt,
              fontSize: mono_size,
              fontFamily: ff,
              fontStyle: 'bold',
              fill: 'black',
              verticalAlign: 'middle',
              align: 'center',
              wrap: "word"
            });

          layer.add(simpleText);
        };
        imageObj.crossOrigin = 'Anonymous';
        imageObj.src = monoimgg;
            $('.custommodal#exmpModalToggleone').addClass('show');
            $('.custommodal#exmpModalToggleone').show();
            $(".custommodal .fonts-select .times").find(".right-click").addClass('righticon');
          $(document).on('input', '.custommodal .name-initial input', function(){
              var tx = window.pop_stage.findOne("#mono_text");
              tx.text($(this).val());
          })
        }
    });
});
document.addEventListener("DOMContentLoaded", function(event) {
    $(document).on('click','.monogram-desk .canclebtn',function(){
        $('#exmpModalToggleone').removeClass('show');
        $('#exmpModalToggleone').hide();
        $('.monogram_check input[type="checkbox"]').prop('checked', false);
    })
});
$(document).on('click','.monogram-desk .canclebtn',function(){
    $('#exmpModalToggleone').removeClass('show');
    $('#exmpModalToggleone').hide();
    $('.monogram_check input[type="checkbox"]').prop('checked', false);
})
$('.monogram_check').each(function(){
    var str1 = $(this).data('tags');
    var str2 = "notcustom";
    if(str1.indexOf(str2) != -1){
      $(this).addClass('hidemono');
    }
})


























    </script>
    <script>
      setInterval(function(){
          $('#WebPixelsManagerSandboxContainer').remove();
      },200)
    </script>

    {% render 'content-footer' %}
    {% render 'preorder-now' %}
    {% unless template contains 'cart' %}
      <script src="https://rapidlercdn.com/6426631c44f2512c1cbbd64f/deferload.js" defer></script>
    {% endunless %}
  </body>
</html>
