<div class="m_main {{ section.settings.rightimg }}">
  <h2>{{ section.settings.headingmain }}</h2>
  <div class="m_cont">
    <div class="m_left">
      <img src="{{ section.settings.img | img_url:'master' }}">
    </div>
    <div class="m_right">
      <div class="allcont">
        <h3>{{ section.settings.heading }}</h3>
        <p>{{ section.settings.desc }}</p>
        <a href="{{ section.settings.btnlink }}">{{ section.settings.linktxt }}</a>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "col image text",
  "settings": [
    {
      "type":"text",
      "id":"headingmain",
      "label":"heading main"
    },
    {
      "type":"image_picker",
      "id":"img",
      "label":"leftimage"
    },
    {
      "type":"text",
      "id":"rightimg",
      "label":"class"
    },
    {
      "type":"text",
      "id":"heading",
      "label":"heading"
    },
    {
      "type":"text",
      "id":"desc",
      "label":"description"
    },
    {
      "type":"text",
      "id":"linktxt",
      "label":"button text"
    },
    {
      "type":"url",
      "id":"btnlink",
      "label":"btnlink"
    }
  ],
  "presets":[
    {
      "name":"col image text"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
