<div class="faq_comments">
  <div class="container page-width">
    <div class="comment_image">
      {% if section.settings.image %}
        <img class="For_Desktop" src="{{ section.settings.image | img_url:'master' }}">
      {% endif %}
      {% if section.settings.image2 %}
        <img class="For_Mobile" src="{{ section.settings.image2 | img_url:'master' }}">
      {% endif %}
      <p class="center_comment">{{ section.settings.text_h }}</p>
    </div>
    {% if section.settings.text_lie != blank %}
      <p class="center_head_faq">{{ section.settings.text_lie }}</p>
    {% endif %}
    <div class="row">
      <div class="col-md-12 accordion-div">
        <div class="mack_os">
          {% for block in section.blocks %}
            {% if block.settings.accordian_text_col != blank %}
              <div class="accordion_container">
                <div class="accordion_head">
                  {{ block.settings.accordian_text_col -}}
                  <span class="plusminus"
                    ><img src="https://cdn.shopify.com/s/files/1/0507/0418/7590/files/Border_d4c80746-0b31-4cd2-a4af-50dc5d7f11d0.png?v=1652705460"
                  ></span>
                </div>
                <div class="accordion_body" style="display: none;">
                  <p>{{ block.settings.accordian_text_col2 }}</p>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
"name": "Faq_Comments Section",
"class":"faq",
"settings": [
{
"type":"image_picker",
"id":"image",
"label":"Add Desktop Image"
},
{
"type":"image_picker",
"id":"image2",
"label":"Add Mobile Image"
},
{
"type":"text",
"id":"text_h",
"label":"Add Center Text"
},
{
"type":"text",
"id":"text_lie",
"label":"Add Center Head"
}
],
"blocks":[{
"name":"Faq_Comments",
"type":"faq_sec",
"settings":[
{
"type":"text",
"id":"accordian_text_col",
"label":"Add Question"
},
{
"type":"richtext",
"id":"accordian_text_col2",
"label":"Add Answer"
}
]
}],
"presets":[
{
"name":"Faq_section"
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
