<div class="homepage-slider" style="visibility:hidden;">
  {% for block in section.blocks %}
    <div class="slideshow-image">
      <div class="slide-img">
        <div class="desktop-slide">
          <img class="slider-desktop lazyload" data-srcset="{{ block.settings.slideimg | img_url:'master' }}">
        </div>
        <div class="mob-slide">
          <img class="slider-mobile" src="{{ block.settings.slidemob | img_url:'700x' }}">
        </div>
        <!--
          <picture>
            <source media="(max-width:767px)" srcset="{{ block.settings.slidemob | img_url:'700x' }}">
            <source media="(min-width:767px)" srcset="{{ block.settings.slideimg | img_url:'1920x522' }}">
            <img src="" alt="{{ block.settings.slideimg.alt}}">
          </picture>
        -->
      </div>
      <div class="slideshow-content page-width">
        <div class="slider-headings">{{ block.settings.heading }}</div>
        <p>{{ block.settings.subheading }}</p>
        <a class="fill" href="{{ block.settings.btntxtlink }}">{{ block.settings.btntxt }}</a>
      </div>
    </div>
  {% endfor %}
</div>
{% schema %}
  {
    "name": "Slideshow-images",
    "class": "slider-homepage",
    "settings": [],
"blocks": [
            {
              "type": "Slideshow-imges",
              "name": "Images",
              "settings": [
                  {
                  "id": "slideimg",
                  "type": "image_picker",
                  "label": "Image for desktop"
                },
                 {
                  "id": "slidemob",
                  "type": "image_picker",
                  "label": "Image for mobile"
                },
                 {
                  "id": "heading",
                  "type": "text",
                  "label": "Add text"
                },
                 {
                  "id": "subheading",
                  "type": "text",
                  "label": "Add Subheading"
                },
                {
                  "id": "btntxt",
                  "type": "text",
                  "label": "Add btn text"
                },
                {
                  "id": "btntxtlink",
                  "type": "url",
                  "label": "Add btn link"
                }
              ]
            }
          ],
"presets":[
 {
   "name":"Homepage-slideshow"
 }
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
