{{ 'hp-cases.css' | asset_url | stylesheet_tag }}

<section class="casesSection page-width">
    <div class="hpShopCaseWrapper">
        <div class="shopCaseHeading">
            <h1>{{section.settings.heading}}</h1>
        </div>
        <div class="image-wrap">
					<img class="desktop" src="{{section.settings.image | img_url: 'master'}}" alt="">
					<img class="mobile" src="{{section.settings.m-image | img_url: 'master'}}" alt="">
					<div class="image-content">
						<h1>{{section.settings.image-heading}}</h1>
						<a href="{{section.settings.btn-url}}">{{section.settings.btn-text}}</a>
					</div>
				</div>
				<div class="products-wrap">
				{%- for block in section.blocks -%}
					<div class="products">
							<div class="product-heading">
								<h1>{{block.settings.title}}</h1>
							</div>
							<img src="{{block.settings.image | img_url: 'master'}}" alt="">
					</div>
				{%- endfor -%}
				</div>
    </div>
</section>

{% schema %}
    {
			"name": "Cases Section",
			"settings": 
			[
				{
					"type": "text",
					"id": "heading",
					"label": "Heading"
				},
				{
					"type": "image_picker",
					"id": "image",
					"label": "Desktop Image"
				},
				{
					"type": "image_picker",
					"id": "m-image",
					"label": "Mobile Image"
				},
				{
					"type": "text",
					"id": "image-heading",
					"label": "Image Heading"
				},
				{
					"type": "text",
					"id": "btn-text",
					"label": "Button text"
				},
				{
					"type": "url",
					"id": "btn-url",
					"label": "Button Url"
				}
			],
			"blocks": [
				{
					"type": "product",
					"name": "Product",
					"settings": [
						{
							"type": "text",
							"id": "title",
							"label": "Title"
						},
						{
							"type": "image_picker",
							"id": "image",
							"label": "Product Image"
						}
					]
				}
			],
			"presets": [
				{
					"name": "HP Case Section"
				}
			]
    }
{% endschema %}