<div class="summer-sale page-width">
  <div class="summerimg">
    <img
      class="summerimg-desktop lazyload"
      src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
      data-src="{{ section.settings.summerimg | img_url:'master' }}"
    >
    <img
      class="summerimg-mobile lazyload"
      src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
      data-src="{{ section.settings.summerimgmob | img_url:'master' }}"
    >
  </div>
  <div class="summer-content">
    <div class="summer-sale-heading">{{ section.settings.heading }}</div>
    <div class="summer-sale-subtitle">{{ section.settings.subheading }}</div>
     <div class="fill_summer_anchor"><a class="fill_summer" href="{{ section.settings.btnlink }}">{{ section.settings.btntxt }}</a></div>
  </div>
</div>

{% schema %}
  {
    "name": "Summer sale",
    "class":"summersale",
    "settings": [
  {
    "type":"image_picker",
    "id":"summerimg",
     "label":"Add image for desktop"
  },
  {
    "type":"image_picker",
    "id":"summerimgmob",
     "label":"Add image for mobile"
  },
  {
    "type":"html",
    "id":"heading",
    "label":"Add heading"
  },
    {
    "type":"text",
    "id":"subheading",
    "label":"Add heading"
  },
    {
    "type":"text",
    "id":"btntxt",
    "label":"Button text"
  },
  {
    "type":"url",
    "id":"btnlink",
    "label":"Button link"
  }
],
"presets":[
  {
    "name":"Summersale"
  }
 ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
