<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>

{% layout none %}
{% assign monogram = all_products['monogram'] %}
{% assign monogram_v = monogram.first_available_variant %}

{% for item in search.results %}
     {% for variant in item.variants %}
        {% if variant.available %}             
           <p class="varcolor"  >{{ variant.title }}</p> 
           
        {% endif %}
     {% endfor %}   

  {%- for media in item.media -%}
    {% for vv in item.variants %}
      {% if vv.featured_media.id == media.id %}
       {% assign vv_color = vv.option1 %}
      {% endif %}
    {% endfor %}
    <img data-color="{{vv_color}}" data-media_id="{{ media.id }}" class="hideimagesvar" src="{{ media | img_url: 'master'}}" alt="{{ media.alt }}">
  {% endfor %}
     
  {% for variant in item.variants %}
      {% for media in item.media %}
           {% if media.alt == 'monogram' %}
             <img data-clr="{{ variant.title }}"  class="hideimagesvar" src="{{ media | img_url: 'master'}}" alt="{{ media.alt }}">
           {% endif %}
        {% endfor %}
   <div class="modal-content mono-radius" varid="{{ variant.id }}">
      <div class="modal-body">
        <div class="popup-left">
          <div class="monogram-mob">
           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         <div class="add-a-mono">Add a monogram</div>
         <div class="add-a-mono-heading">{{ item.title }}</div>
          </div>
          {% assign monogram_left = item.metafields.monogram.left %}
          {% assign monogram_top = item.metafields.monogram.top %}
          {% assign monogram_mob_left = item.metafields.custom.monogram_mob_left %}
          {% assign monogram_mob_top = item.metafields.custom.monogram_mob_top %}
          {% assign monogram_fontsize = item.metafields.custom.monogram_fontsize %}
            
          <div alt="{{ featured_media.alt | escape }}" class="main-img-monogram_pop" data-left="{{ monogram_left }}" data-top="{{ monogram_top }}" data-size="{{ monogram_fontsize }}">
            <img {{ variant.alt }} src="{{ variant.featured_image | img_url:'400x400' }}">
            <span id="text-on-img" style="font-family: Arial;left:{% if monogram_left %}{{monogram_left}}%{%else%}50%{% endif %};top:{% if monogram_top %}{{monogram_top}}%{%else%}50%{% endif %}; {% if monogram_fontsize %}font-size:{{monogram_fontsize}}px;{% endif %}" ></span>
          </div>
          <div class="monogram-zoomin aa">Zoom +</div>
       </div>
       <div class="popup-right">
         <div class="monogram-desk">
           <div class="modal-header">
             <div class="canclebtn">
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
             </div>
           </div>
         <div class="add-a-mono">Add a monogram</div>
         <h1>{{ item.title }}</h1>
         </div>
         <div class="name-initial">
           {% assign monogram_text_length = item.metafields.monogram.text_length %}
           <label for="fname">Enter text:
             <span>
                <a class="ques-popup" data-bs-toggle="modal" href="#exampleModalTogglesse" data-keyboard="false" data-backdrop="static" role="button"><img src="https://cdn.shopify.com/s/files/1/0507/0418/7590/files/9b647295e1153599559fccba234b7673_1.png?v=1653547693"></a>
               </span>
           </label>
          <input maxlength="{% if monogram_text_length %} {{ monogram_text_length}}{% endif %}" type="text" name="Name" id="pop_name" placeholder="Your name">
         </div>
         <div class="font-choose">
           <label for="fname">CHOOSE YOUR FONT</label>
           <div class="fonts-select">
              <div class="times" hidden>Times<span class="right-click righticon"><img src="https://cdn.shopify.com/s/files/1/0507/0418/7590/files/Group_1011.png?v=1653564757"></span></div>
             <div class="times">Arial<span class="right-click"><img src="https://cdn.shopify.com/s/files/1/0507/0418/7590/files/Group_1011.png?v=1653564757"></span></div>
             <div class="handwriting" >Handwriting<span class="right-click"><img src="https://cdn.shopify.com/s/files/1/0507/0418/7590/files/Group_1011.png?v=1653564757"></span></div>
           </div>
         </div>
         <div class="add-to-cart"><button sku="" data-id="{{ monogram_v.id }}" >Add to cart</button></div>
         <div class="monogram-sale">Monogrammed items are finale sale</div>
        </div>
      </div>
    </div>
  {% endfor %}
   {% endfor %}
   <script>
     $('.varcolor').each(function(){
        var clr = $(this).text();
        var num = $(this).index();
        var ord = num+1;
       $('img.hideimagesvar:nth-of-type('+ord+')').attr('data-clr',clr);
    })
   </script>
 <style>
   img.hideimagesvar {
        display: none;
    }
 </style>